
.banner {
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
}

.banner__wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.banner__header {
	width: 90%;
	margin: 0 auto;
	padding-top: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.banner__header-logo {
	width: 74px;
	height: 18px;
	fill: $white;
	margin-right: 14px;
	&--red {
		fill: $red-logo;
	}
}

.banner__header-text {
	display: block;
	padding-top: 1px;
	font-size: 16px;
	line-height: 1.2;
	font-weight: bold;
	text-transform: uppercase;
	&--thin {
		font-weight: normal;
	}

	&--red {
		color: $grey;
	}
}
