.banner-bot {
	background-color: $bg;
	background-image: url("../img/background2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 50px;
}

.banner-bot__ask {
	display: block;
	text-align: center;
	margin: 63px auto 98px;
	color: $white;
	font-size: 35px;
	line-height: 1.2;
	font-weight: bold;
}

.banner-bot__text {
	display: block;
	width: 70%;
	text-align: center;
	margin: 0 auto 45px;
	color: $white;
	font-size: 50px;
	line-height: 1.2;
	font-weight: bold;

}

.banner-bot__link {
	display: block;
	width: 265px;
	margin: 0 auto 54px;
	padding-top: 16px;
	padding-bottom: 12px;
	text-align: center;
	background-color: $green-btn;
	border: none;
	border-radius: 5px;
	color: $white;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.banner-bot__info {
	display: flex;
	width: 77%;
	flex-direction: row;
	margin: 0 auto 51px;
	padding: 33px 34px 30px 38px;
	background-color: $pink;
	border: none;
	border-radius: 5px;
	position: relative;
	z-index: 1000;

	&::after {
		content: "";
		display: block;
		width: 2px;
		height: 70px;
		position: absolute;
		top: 50%;
		right: 232px;
		transform: translateY(-50%);
		background-color: $pink-light;
		z-index: 2000;
	}
}

.banner-bot__info-text {
	display: block;
	margin: 0;
	margin-right: 112px;
	padding: 0;
	font-size: 22px;
	line-height: 22px;
	font-weight: normal;
	color: $white;
}

.banner-bot__info-link {
	color: $white;
	text-decoration: underline;
}

.banner-bot__info-number {
	display: flex;
	padding: 0;
	margin: 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.banner-bot__info-number span {
	color: $white;
	font-size: 50px;
	font-weight: bold;
}

.banner-bot__info-logo {
	fill: $white;
	width: 28px;
	height: 28px;
	margin-left: 10px;
}

.banner-bot__copyright {
	width: 100%;
	color: $whit-op50;
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
	margin-top: 50px;
}

.banner-bot__copyright-link {
	color: $whit-op50;

	&:hover {
		color: $white;
	}
}
