.banner-main {
	background-color: $bg;
	background-image: url("../img/bg-top-page.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	position: relative;
	margin: 0;
	padding: 0;
	padding-bottom: 250px;

	&::after {
		content: '';
		display: block;
		width: 54px;
		height: 50px;
		background-image: url("../img/down.png");
		background-repeat: no-repeat;
		background-size: 27px 50px;
		position: absolute;
		bottom: 62px;
		left: 52%;
		transform: translateX(-50%);
	}
}

.banner-main__info {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2.16px;
	position: absolute;
	top: 37px;
	left: 52.5%;
	transform: translateX(-50%);
}

.banner-main__tittle {
	display: block;
	width: 64%;
	margin: 0 auto;
	margin-top: 121px;
	margin-bottom: 66px;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	line-height: 80px;
	text-transform: none;
}

.banner-main__form {
	width: 60%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	z-index: 2000;
	position: relative;
}

.banner-main__container {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 2000;
}

.banner-main__field {
	width: 100%;
	font-size: 24px;
	line-height: 24px;
	margin: 0;
	padding-top: 30px;
	padding-left: 36px;
	padding-bottom: 28px;
	color: $black;
	border-radius: 5px;
	border: none;
}

.banner-main__btnCheck {
	width: 156px;
	height: 52px;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	border: none;
	border-radius: 5px;
	background-color: $grey-btn;
	color: $white;
	font-size: 22px;
	line-height: 22px;
	font-weight: normal;
	cursor: pointer;
}

.banner-main__btnSubm {
	margin: auto;
	margin-top: 98px;
	background-color: $green-btn;
	border: none;
	border-radius: 5px;
	padding: 18px 50px 14px 44px;
	color: $white;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	cursor: pointer;
}

.banner-main__valid-block {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-color: $grey-valid;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	position: absolute;
	top: 42px;
	left: 0;
	z-index: 100;

	&--hide {
		display: none;
	}
}

.banner-main__message {
	margin: 0;
	padding-top: 57px;
	padding-bottom: 15px;
}

.banner-main__message-link {
	color: $green-btn;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	border-bottom: 1px solid $green-btn;
	padding-top: 1px;
}


@media (max-width: 1092px)  {
	
}